body {
    color: #8b92a9;
}

.sidebar .sidebar-wrapper, .main-panel {
    overflow-y: auto;
}

.card {
    .card-header {
        .card-title {
            i.material-icons, i.material-icons-outlined, i.fa {
                vertical-align: top;
            }
        }
    }
    .card-body {
        i.material-icons, i.material-icons-outlined, i.fa {
            vertical-align: middle;
        }
    }
    .card-footer {
        i.material-icons, i.material-icons-outlined, i.fa {
            vertical-align: top;
        }
    }
}

.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
}

.fullwidth {
    width: 100%;
}

#shipdataexporter_sourcelabels {
    max-height: 110px;
    overflow-y: auto;
    user-select: none;
    position: relative;

    > span.badge {
        cursor: pointer;
        &:hover {
            opacity: 0.85;
        }
    }
    &.blurred {
        pointer-events: none;

        > span.badge {
            filter: blur(3px);
            opacity: 0.09;
        }
    }

    @media screen and (min-width: 768px) {
        max-height: none;
    }
}

#shipdataexporter_modewarning {
    border-radius: 3px;
    display: none;
    height: 100%;
    padding-top: 3.3%;
    position: absolute;
    width: 100%;
}

#shipdataexporter_generateoutput {
    margin-top: 5px;
    width: 88%;
    @media screen and (min-width: 768px) {
        width: 95%;
    }
    @media screen and (min-width: 1140px) {
        margin-top: -10px;
        margin-right: -25px;
        margin-left: 0;
        width: auto;
    }
}

.wysibb {
    border: none;
    background: #202940;

    .wysibb-toolbar {
        border-bottom: 1px solid rgba(221, 221, 221,0.2);

        .wysibb-toolbar-container {
            border-right: 1px dotted rgba(221, 221, 221,0.2);
            &:last-child {
                border-right: none;
            }

            .wysibb-toolbar-btn {
                .fonticon {
                    color: #eee;
                    text-shadow: 0px 1px 0px rgba(32, 41, 64,0);
                }
                &:hover {
                    border: 1px solid transparent;
                    background: rgba(200, 242, 255, 0.2);
                    .fonticon {
                        color: #fff;
                        text-shadow: 0px 1px 0px rgba(0, 9, 58, 0.3);
                    }
                    span.val {
                        color: #fff;
                    }
                }
                &.wbb-dropdown, &.wbb-select {
                    &:hover {
                        background: rgba(200, 242, 255, 0.2);
                    }
                    &.on, &.on:active {
                        border: 1px solid transparent;
                        background: rgba(200, 242, 255, 0.2);
                        box-shadow: none;
                    }
                    .option:hover {
                        background: rgba(60,60,60,0.5);
                    }
                }
                span.btn-text {
                    color: #fff;
                }
                &.on {
                    span.btn-text {
                        color: #202940;
                    }
                }
                .wbb-list {
                    border: none;
                    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
                    background: rgba(200, 242, 255, 0.2);
                    color: #fff;

                    :first-child {
                        color: #eee;
                        &:hover {
                            color: #333;
                        }
                    }
                    .sc {
                        width: 28px;
                        height: 23px;
                        margin: 0 0 0px 4px;
                        border: 1px solid transparent;
                        &:hover {
                            border: 1px solid #333;
                        }
                    }
                }
            }
        }
        .modeSwitch {
            word-wrap: normal;
        }
    }
    .wysibb-text-editor {
        &.wysibb-body {
            color: #fff;
            font-size: 14px;

            b, strong {
                font-weight: 700;
            }
            a {
                text-decoration: underline;
            }
            .spoiler {
                border: 1px dashed rgba(255,255,255,0.5);
                position: relative;
                margin-top: 12px;

                &:before {
                    content: 'SPOILER';
                    position: absolute;
                    top: -19px;
                    font-size: 10px;
                    color: #aaa;
                }
            }
        }
    }
}

.modal-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);

    .close {
        color: #fff;
    }
}
.modal-content {
    background-color: #202940;
}
.modal-footer {
    border-top: 1px solid transparent;
}