body {
    color: #8b92a9;
}

.sidebar .sidebar-wrapper, .main-panel {
    overflow-y: auto;
}

.card {
    .card-header {
        .card-title {
            > i {
                vertical-align: top;
            }
        }
    }
    .card-body {
        > i.material-icons, > i.material-icons-outlined, > i.fa {
            vertical-align: top;
        }
    }
}

.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
}

.fullwidth {
    width: 100%;
}

#shipdataexporter_sourcelabels {
    max-height: 110px;
    overflow-y: auto;
    user-select: none;
    > span.badge {
        cursor: pointer;
        &:hover {
            opacity: 0.85;
        }
    }
    @media screen and (min-width: 768px) {
        max-height: none;
    }
}

#shipdataexporter_generateoutput {
    margin-top: 5px;
    width: 88%;
    @media screen and (min-width: 768px) {
        width: 95%;
    }
    @media screen and (min-width: 1140px) {
        margin-top: -10px;
        margin-right: -25px;
        margin-left: 0;
        width: auto;
    }
}